nav ul{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;

}
.Intro h1{
    text-align: end;
    font-size: 4rem;
    color: black;
    text-shadow:
		-1px -1px 0 white,
		1px -1px 0 White,
		-1px 1px 0 white,
		1px 1px 0 white;
}
.Intro h2{
    text-align: end;
    font-size: 3rem;
    color: black;
    text-shadow:
		-1px -1px 0 white,
		1px -1px 0 White,
		-1px 1px 0 white,
		1px 1px 0 white;
}
#AboutMe{
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    font-size: 1.25rem;
}

#AboutMe p{
    
    width: 50%;
    
}
#MySkills{
    display:flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.25rem;
}

#MyProjects {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
article h4{
    display: flex;
    flex-direction: column;

}
#ContactMe h3{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#ContactMe ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}    
    
